.chat-outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);

    h1 {
        color: var(--green);
        img {
            margin: 0 0.5rem;
        }
    }
}

.chat-inner {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: var(--gray-two);
}
